.lowerNav {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}




.stockList {
    display: flex;
}

.stockysL {
    display: flex;
}

.stockysL li {
    display: flex;
    list-style-type: none;
}

/* this the input side */

.searchArea {
    display: flex;
    flex: 5;
}

.searchArea input {
    width: 100%;
    background-color: #ECECEC;
    padding: 1rem;
    border: none
}