.lowerMid {
    background: #E8EAEB;
    text-align: center;
    padding: 2rem;
    color: black;
}


.lowerMid h1 {
    margin-bottom: 1rem;
}

.lowerMid h5 {
    font-weight: 500;
    margin-bottom: 3rem;
}


.templates {
    /* display: grid; */
    /* grid-template-columns: repeat(4, 1fr); */
    display: flex;
    gap: 20px;
    align-items: stretch;
    justify-content: center;

}

.templates img {
    border-radius: 15px;
    max-width: 100%;
    height: 100%;

    align-items: stretch;
}

.carousel {
    flex: 1.3;
}

.carousel img {}

.carousel {
    overflow-x: auto;
    scrollbar-width: none;

}


.carousel::-webkit-scrollbar {
    display: none;
}

/* this is the browse button */


.browse {
    background: #111;
    color: white;
    border-radius: 5px;
    padding-top: .7rem;
    padding-bottom: .7rem;
    padding-right: 1.4rem;
    padding-left: 1.4rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 3rem;
}