* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --smallPadding: 2rem;
  --mediumPadding: 3.5rem;
  --Largepadding: 4rem;
  --ColorOne: #00838C;
  --ColorTwo: #09757A;
  --ColorThree: #D8EFEF;
  --blackColor: #111111;
  --WhiteColor: #FFF;
}


.parentApp {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}


.App {
  padding-left: var(--mediumPadding);
  padding-right: var(--mediumPadding);
  padding-top: var(--smallPadding);
  padding-bottom: var(--smallPadding);
  max-width: 100%;
  min-height: 100vh;
  flex: 1;
}


.Footer {
  flex: 1;
}


/* --- Desktop / Large Screens --- */
@media (min-width: 1025px) {

  /* Styles for desktops and large laptops */
  h1 {
    font-size: 3rem;
  }
}

/* --- Tablet / Medium Screens --- */
@media (max-width: 1024px) and (min-width: 768px) {
  /* Styles for tablets */

  .App {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: var(--smallPadding);
    padding-bottom: var(--smallPadding);
    max-width: 100%;
    min-height: 100vh;

  }



}

/* --- Mobile / Small Screens --- */
@media (max-width: 767px) {


  .parentApp {}

}